@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background: rgb(187, 187, 187);
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
.mainP {
    width: 300px;
    height: 600px;
    background: #000;
    border-radius: 11px;
    display: grid;
    place-content: center;
    place-items: center;
}
.dispHome {
    position: relative;
    width:280px;
    height:580px;
    background:whitesmoke;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: rgb(100, 100, 100) rgba(212, 212, 212, 1);
}
.dispHome::-webkit-scrollbar {
    width: 5px;
    border-radius: 9px;
  }
  .dispHome::-webkit-scrollbar-track {
  background-color: rgba(212, 212, 212, 1);
  border-radius: 9px;
  }
  .dispHome::-webkit-scrollbar-thumb {
    background-color: rgb(100, 100, 100);
    border-radius: 9px;
  }
  .dispHome::-webkit-scrollbar-thumb:hover {
    background-color: #575757;
    border-radius: 9px;
  }
.dispHome::after {
    content: '';
    position: absolute;
    top:-60px;
    left: -22px;
    width: 300%;
    height: 70%;
    transform: rotate(-6deg);
    background: rgba(0, 0, 0, 0.081);
    filter: blur(18px);
}
.header {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    position: relative;
    width: 75px;
    height: auto;
    margin-top: 3px;
    margin-left: 6px;
    transition: 0.2s;
    z-index: 1;
    cursor: pointer;
    border-radius: 9px;
    padding-left: 2px;
}
.logo:hover {
    background: rgba(0, 0, 0, 0.39);
}
.account {
    position: relative;
    width: 25px;
    height: 25px;
    border: 3px solid black;
    border-radius: 50%;
    overflow: hidden;
    margin-right:6px;
    margin-top: 7px;
    transition: 0.2s;
    background: transparent;
    cursor: pointer;
    z-index: 1;
    display: grid;
    place-content: center;
}
.account:hover {
    background: rgba(0, 0, 0, 0.39);
}
.pickupDelivery {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 9px;
    z-index: 2;
}
.pickupDelivery a{
    text-transform: capitalize;
    text-align: left;
    margin: 2px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.pickupDelivery a:hover {
    color: #823333;
}
.mySlides {
    width: auto;
    height: 90px;
    padding: 6px;
    transition: 0.2s;
    border-radius: 6px;
    background: transparent;
    z-index: 2;
    margin: 3px;
    cursor: pointer;
}
.mySlides:hover {
    background: rgba(0, 0, 0, 0.39);
}
.slideshow {
   width: 100%;
   height: auto;
   object-fit: cover; 
   border-radius: 6px;
   display: grid;
    place-content: center;
    place-items: center;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s ease infinite;
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 0.7;
    }
    80% {
      opacity: 0.7; 
    }
    95% {
        opacity: 0;
      }
    100% {
      opacity: 0;
    }
  }
  .foodRow {
    position: relative;
    width: 93%;
    height: 140px;
    padding: 6px;
    transition: 0.2s;
    border-radius: 6px;
    background: transparent;
    z-index: 2;
    margin: 3px;
    cursor: pointer;
    overflow: hidden;
  }
  .foodRow:hover {
    background: rgba(0, 0, 0, 0.39);
  }
  .foodRowImg {
      position: relative;
      width: 100%;
      height: 60%;
      object-fit: cover;
      object-position: center;
      border-radius: 6px;
  }
  .foodRowText {
      background: #fff;
      width: 99%;
      height: auto;
      border-radius: 6px;
  }
  .foodRowTextP {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
  }
  h1 {
      text-transform: capitalize;
      text-align: center;
      margin: 2px;
      color: #000;
      font-size: 18px;
      font-weight: 800;
  }
  h2 {
    text-transform: capitalize;
    text-align: left;
    margin: 2px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
p {
    text-transform: capitalize;
    text-align: left;
    margin: 2px;
    color: #000;
    font-size: 11px;
    font-weight: 300;
}
.footer {
    position: sticky;
    bottom:-1px;
    right:0;
    width:100%;
    height: 50px;
    background: rgba(212, 212, 212, 1);
    z-index: 6;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}
.footerIcon {
    width: 20px;
    height: 20px;
    position: relative;
    padding: 4px;
    background: transparent;
    transition: 0.2s;
    display: grid;
    place-content: center;
    place-items: center;
    border-radius: 9px;
}
.footerIcon:hover {
    background: rgba(0, 0, 0, 0.39);
}